# text to crlf
# * text=auto
* text eol=crlf

*.sh eol=lf

# text files:
*.txt text
*.java text
*.js text
*.html text
*.css text
*.svg text
*.xml text
*.kts text
*.bat text
*.gradle text
*.kts text
*.kt text

# config files:
*.json text
*.yaml text
*.yml text
*.properties text
*.md text
*.adoc text
*.toml text

# binary files:
*.class binary
*.jar binary
*.zip binary
*.tar binary
*.gz binary
*.rar  binary
*.gif  binary
*.jpeg  binary
*.jpg  binary
*.png  binary
*.vsd  binary

# special files:
gradlew eol=lf
*.binary binary